/* CSS GLOBAL*/
/*
Colores Primarios:
blanco roto  	->  #EBF4F7
rojo    		->  #E00B27
azul oscuro 	->  #1A2A40 
azul flojo		->	#2474A6
amarillo 		->	#F2A30F
*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	<!-- scroll-behavior: smooth;-->
}

body{
	background-color: #1A2A40;
	height: 100vh;
}

.sombra{
	<!--sombras-->
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.estilosLetra{
	font-family: 'Pacifico', cursive;
}

.cabecera{	
	background-color:  #EBF4F7;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	justify-content:space-around;
}

.cabecera .titulo{
	text-align: center;
	display: flex;
	align-items: center;
}

#logo{
	width: 50px;
	height: 50px;
}

.titulo a{
	font-size: 2em;
	margin-left: 10px;
	color: 	#F2A30F;
	text-decoration: none;
	letter-spacing: 2px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.cabecera .nav{
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}

.cabecera .nav a{
	margin: 5px;
	border-radius: 5px;
	text-decoration: none;
	width: 100px;   
    border: 2px solid #1A2A40;
    color: #E00B27;
    padding: 5px;
}

.cabecera .nav a:nth-child(2){¡
	border: 2px solid;    
    background-color: #F2A30F;
    border: 2px solid #1A2A40;
    color: black;
}

/* formulario */
.formulario{
	width: 500px;
	max-width: 100%;
	margin: auto;
	margin-top: 30px;
	padding: 20px;
	box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
	position: relative;
	background-color: white;
	z-index: 0;
}

.formulario__titulo{
	text-align: center;
	margin-top: 0;
	color: #1A2A40 ;
	margin-bottom: 27px;
}

.formulario__input, .formulario__label, .formulario__submit{
	display: block;
	width: 100%;	
	font-size: 1.3em;
}

.formulario__input{
	padding: 7px;
	border: none;
	border-bottom: 2px solid rgba(0,0,0,0.3);
	margin-bottom: 35px;
	background-color: transparent;
	z-index: 2;
}

.formulario__label{
	padding-left: 15px;
	position: absolute;
	margin-top: -67px;
	z-index: -1;
	color: #1A2A40;
	transition: all .2s;
}

.formulario__submit{
	background: #1A2A40;
	color: white;
	padding: 10px 20px;
	cursor: pointer;
}

.formulario__submit:hover{
	transition: all .2s;
	background: #F2A30F;
}

/*animaciones*/
.formulario__input:focus{
	border-color:#F2A30F;
	outline: none;
}

.formulario__input:focus + .formulario__label{
	margin-top: -100px;
}

.fijar{
	margin-top: -100px;
}

/* formulario cliente*/

.cabeza{
	display: block;
	width: 100%;	
	font-size: 1.3em;
	color:white;
	padding: 7px;
	background-color: #2474A6;
	border:1px solid rgba(0,0,0,0.3);
}

#titulo, #fecha, #TipoEntrada, #Hora, .info{
	display: block;
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	padding-left: 15px;
	font-size: 1.3em;
	border: 0.5px solid rgba(0,0,0,0.1);
	outline: none;
}

#TipoEntrada:hover, #Hora:hover{
	transition: all .2s;
	background: rgba(0,0,0,0.1);
}

.sala{
	width: 500px;
	max-width: 100%;
	height: 600px;
	margin: 5px auto;
	position: relative;
	background-image: url("../img/sala.jpg");
	background-size: 100% 100%;
}

.sillas{
	width: 370px;
	max-width: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 100px;
}

#silla{
	width: 16%;
	height: 50px;
	margin-bottom: 8.5px;
}

.reservado{
	background-color: #0875BA;
}

.nodisponible{
	background-color: #930101;
}

.disponible{
	background-color: green;
}

.factura{	
	width: 500px;
	max-width: 100%;
	margin: auto;
	margin-top: 30px;
	padding: 20px;
	box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
	background-color: white;
}